body {
    font-family: 'Poppins', sans-serif;
    --text-color: #999999;
    --bg-color: #0D141E;

    --text-second-color: #29C5F6;
    --text-main-color: #ffffff;
    --border-footer-color: #4D4D4D;

}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-main-color);
    background: var(--bg-color)
}



.container {
    /* контейнер основных размеров */
    max-width: 1424px;
    margin: 0 auto;
    padding: 10px;

}

.main_container {
    /* контейнер основных размеров */
    max-width: 1920px;
    margin: 0 auto;
    padding: 0px;
    overflow: hidden;
}

/* полоса прокрутки */
::-webkit-scrollbar {
    width: 15px;
    height: 15px; 
    background-color: #143861;
}

/* ползунок */
::-webkit-scrollbar-thumb {
   border-radius: 6px;
background: #29C5F6;
}

/* Стрелки */

::-webkit-scrollbar-button:vertical:start:decrement {
    background: linear-gradient(120deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(240deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(0deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color:#29C5F6;
}

::-webkit-scrollbar-button:vertical:end:increment {
    background:
        linear-gradient(300deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(60deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(180deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #29C5F6;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
    background:
        linear-gradient(30deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(150deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(270deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #29C5F6;
}

::-webkit-scrollbar-button:horizontal:end:increment {
    background:
        linear-gradient(210deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(330deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(90deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #29C5F6;
}

.border_bottom_blue {
    border-bottom: 1px solid #29C5F6;
}


a {
    cursor: pointer;
}

a:hover {
    /* эффект для ссылок */
    cursor: pointer;
    color: var(--main-color);
    text-shadow: 0 0 5px #008cff,
        0 0 10px #008cff,
        0 0 20px #008cff;

}

.logo {
    width: 100%;
    height: auto;
}

.line {
    border-right: 1px solid #66686A52;
    margin-right: 30px;
    margin-left: 30px;
}

/* TEXT START */


.text_title_h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    background: linear-gradient(79.62deg, rgba(255, 255, 255, 0.72) -8.51%, #FFFFFF 35.28%, rgba(169, 198, 215, 0.64) 101.59%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: calc(28px + 16 * (100vw - 376px) / 1920);
}

.text_blue {
    font-family: 'Poppins', sans-serif;
    color: var(--text-second-color);
    font-size: calc(14px + 4 * (100vw - 376px) / 1920);
    text-decoration: none;
    
}

.text_small_blue {
    font-family: 'Poppins', sans-serif;
    color: var(--text-second-color);
    font-size: calc(12px + 2 * (100vw - 376px) / 1920);
    text-decoration: none;
}


.bond_background{
    border-radius: 20px;
    color: #000000;
background: var(--blue, #29C5F6);
display: flex;
padding: 4px 12px;
align-items: flex-start;
gap: 10px;
}

.text_numbers {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.text_title_h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    background: linear-gradient(79.62deg, rgba(255, 255, 255, 0.72) -8.51%, #FFFFFF 35.28%, rgba(169, 198, 215, 0.64) 101.59%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #f3e4e4;
    background-clip: text;
    font-size: calc(18px + 6 * (100vw - 376px) / 1920);
    padding-left: 49px;

}

.legend_text {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;

    text-align: center;
    font-size: calc(14px + 2 * (100vw - 376px) / 1920);
}

.text_small_white {
    font-family: 'Poppins', sans-serif;
    color: var(--text-main-color);
    font-size: 12px;
    text-align: center;

}

.text_footer {
    font-family: 'Poppins', sans-serif;
    color: #465A79;
    font-size: 12px;
    text-align: center;
}

/* TEXT END */





/* HEADER START */

.header__info {
    /* верхнее меню */
    border-bottom: 1px solid #66686A52;

}

.header__position {
    /* расположение лого и ссылко верхнего меню */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.header__logo {}

.header__menu {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.header__menu_links {
    display: flex;
    gap: 30px;

}

.header__links {
    /* параметры ссылок верхнего меню */
    font-family: 'Poppins', sans-serif;

    text-decoration: none;
    color: var(--text-main-color);
    font-size: calc(14px + 2 * (100vw - 376px) / 1920);

}

.header__language {
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
    display: inline-block;


}

.dropdown-content {
    display: none;
    position: absolute;
    width: 44px;
    height: 216px;
}

.header__language:hover .dropdown-content {
    display: block;
}

.header__social {
    display: flex;
    align-items: center;
    gap: 2px;
}


.icon_rotate {
    transition: all 300ms ease;

}

.icon_rotate:hover {
    transform: rotate(20deg);
    background: #008cff;
    border: 1px solid #008cff;
    box-shadow: 0 0 8px #008cff,
        0 0 20px #008cff,
        0 0 50px #008cff,
        0 0 100px #008cff;
}



/* HEADER END */



.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}




/* NAVIGATION START */



.nav__position {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.nav__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav__title {
    padding-top: 30px;
  
}




.title {
    font-weight: 600;
    background: linear-gradient(79.62deg, rgba(255, 255, 255, 0.72) -8.51%, #FFFFFF 35.28%, rgba(169, 198, 215, 0.64) 101.59%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: calc(36px + 20 * (100vw - 376px) / 1920);


}

.nav__button {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 30px;
}

.nav__button_inf {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.button_blue {
    /* основная  синяя кнопка*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 64px;
    gap: 10px;
    width: 215px;
    height: 75px;
    border: 2px solid #008cff;
    color: var(--text-main-color);
    background: radial-gradient(66.1% 66.1% at 50% 17.8%, #29C5F6 0%, #1C8ADE 100%);
    box-shadow: 0px 0px 8px #004E86;
    border-radius: 4px;
    transition: 0.3s ease;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    z-index: 1;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

.button_blue:hover {
    /* эффект на синюю кнопку */
    color: var(--text-main-color);
    background: #008cff;
    border: 1px solid #008cff;
    text-shadow: 0 0 8px #ffffff,
        0 0 10px #ffffff,
        0 0 20px #ffffff;
    box-shadow: 0 0 8px #008cff,
        0 0 20px #008cff,
        0 0 50px #008cff,
        0 0 100px #008cff;
}


.img_discord {
    background-image: url(../img/svg/buttondiscord.svg);
}





.img_boomerang {
    position: absolute;
    width: 994.84px;
    height: 977.8px;
    top: 13px;
    margin-left: 340px;
    background-image: url(../img/boomerang.png);
}

.img_boomerang_mob {

    width: 100%;
    height: auto;

}


.shine_background {
    position: absolute;
    right: 350px;
    width: 1019px;
    height: 1019px;
    background: rgba(22, 154, 250, 0.08);
    filter: blur(256px);
}

.nav__info_supply {
        display: flex;
        gap: 20px;
        border-radius: 4px;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
    

}

.nav__column_info {
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.name_info {
    text-decoration: 'Poppins', sans-serif;
    color: var(--text-second-color);
    font-weight: bold;
    font-size: calc(14px + 2 * (100vw - 376px) / 1920);
}

.tally_info {
    font-family: 'Poppins', sans-serif;
    color: var(--text-main-color);
    font-size: 24px;
    font-weight: bold;
    
}

.tally_blue{
     font-family: 'Poppins', sans-serif;
    color: var(--text-second-color);
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.text_indent{
    display: flex;
    /* padding: 25px 29px 25px 30px; */
    align-items: flex-end;
    /* justify-content: space-between; */
    /* flex-direction: row; */
    gap: 5px;
}

/* NAVIGATION END */

/* MAIN START */






/* SECTION different START */


/* SECTION different END */

/* SECTION 3-cards START */

.holders , .circulating , .supply{
    display: flex;
    flex-direction: row;
    gap: 20px;
   
}

.card{
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: flex-start;
    pointer-events: none;
    flex-wrap: wrap;
}



.second__card{
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: space-evenly;
}

.card__info {
    border: 1px solid;
    border-image-slice: 1;
    border-radius: 4px;
    border-image-source: linear-gradient(88.43deg, #88D3FD 0.4%, rgba(0, 82, 129, 0.36) 28.93%, rgba(30, 144, 208, 0.42) 57.97%, #42A9CE 99.98%);
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.second__card_indent{
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(88.43deg, #88D3FD 0.4%, rgba(0, 82, 129, 0.36) 28.93%, rgba(30, 144, 208, 0.42) 57.97%, #42A9CE 99.98%);
    overflow: hidden;
    padding: 15px 30px 0px 30px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background: linear-gradient(214deg, rgba(25, 44, 61, 0.48) 0%, rgba(14, 44, 71, 0.48) 100%);
    box-shadow: 0px 0px 24px 0px rgba(255, 255, 255, 0.06) inset;
    backdrop-filter: blur(24px);
    width: 260px;
    height: 100px;
    flex-shrink: 0;
    align-items: center;
    flex-wrap: wrap;

}


.topic{
    background: var(--bg-color);
    display: flex;
    max-width: 344px;
    height: 141px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bg{
    background: var(--gr, linear-gradient(214deg, rgba(25, 44, 61, 0.48) 0%, rgba(14, 44, 71, 0.48) 100%));

}

.card__text_white {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: var(--text-main-color);
}

.card__text_indent {
    display: flex;
    padding: 15px 30px 15px 30px;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
}

.first_shine_backgraund {
    position: absolute;
    width: 1019px;
    height: 1019px;

    background: rgba(22, 154, 250, 0.08);
    filter: blur(256px);
}


/* SECTION 3-cards END */



.table__info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 70px;
    align-items: flex-start
}

.table {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.table__buy {
    min-width: 1000px;
    margin: 50px auto;
}



.scroll {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  width: 1000px;
}

.string__blue {
    background: #29C5F6;
    border-radius: 6px 6px 0px 0px;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    padding: 14px 120px 14px 16px;
    gap: 50px;
}

.string__dark_blue {
    background: linear-gradient(269.39deg, rgba(25, 44, 61, 0.48) 3.53%, rgba(14, 44, 71, 0.48) 101.76%);
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 14px 120px 14px 16px;
    gap: 50px;

}

.string__black {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(269.39deg, rgba(25, 44, 61, 0.48) 3.53%, rgba(14, 44, 71, 0.48) 101.76%);
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 14px 120px 14px 16px;
    gap: 50px;
}

.table_zone{
    width: 160px;
}



/* MAIN END */


/*FOOTER START*/

.footer {
    margin-top: 40px;
    border-top: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(88.43deg, #88D3FD 0.4%, rgba(0, 82, 129, 0.36) 28.93%, rgba(30, 144, 208, 0.42) 57.97%, #42A9CE 99.98%);
background-color: #000;

}

.mob__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5px;
}

.mob__nav_position {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}




/*FOOTER END*/






/* MEDIA REQUESTS START*/

@media (min-width: 1200px) {


    .mobile {
        display: none;
    }
}

@media (max-width: 1250px) {

    .first_shine_backgraund {

        display: none;

    }
    .holders , .circulating , .supply{
        flex-direction: column;
    }
    
    .card{
        justify-content: center;
    }

  

    .desktop {
        display: none;
    }


    .flex {
        
        justify-content: flex-start;
    }
}

@media (max-width: 1230px) {
    .scroll{
        width: 900px;
    }
   
}

@media (max-width: 1150px) {

    .first_shine_backgraund {

        display: none;

    }

    .scroll{
        width: 690px;
    }

   
    
}



@media (max-width: 1030px) {

    .card{
        justify-content: flex-start;
    }

}

@media (max-width: 920px) {

    .scroll{
        width: 590px;
    }
    .nav{
        display: none;
    }
    .line{
        display: none;
    }
}


@media (min-width: 920px) {

    .footer {

        display: none;

    }

}

@media (max-width: 730px) {


   
    .card{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

}

@media (max-width: 605px) {


   
    .scroll{
        width: 480px;
    }

}

@media (max-width: 520px) {

    .scroll{
        width: 390px;
    }

}

@media (max-width: 420px) {

    .scroll{
        width: 300px;
    }

}

/* MEDIA REQUESTS END*/